//Template Colors
$primary: #ad4358;
$secondary: #4a4276;
$secondaryLightShade: rgba(74, 66, 118, 0.05);
$accent: #402d52;
$text: #e9bdb9;
$textMuted: rgba(233, 189, 185, 0.6);
$background: #11041b;
$linearGradient: linear-gradient(to right, $primary, $accent);

// Fonts sizes
$fs-2xl: clamp(0.55rem, 8vw, 1rem); // 96px
$fs-xl: clamp(0.416rem, 3vw, 0.416rem); // 40px
$fs-lg: clamp(0.333rem, 2.5vw, 0.333rem); // 32px
$fs-md: clamp(0.208rem, 2vw, 0.208rem); // 20px
$fs-sm: 16px;
$fs-xs: 14px;
