@use "./variables" as *;
fieldset:focus-within {
  label {
    top: -12px;
    left: 10px;
    color: $primary;
    background: linear-gradient(to bottom, #140720, #11041b);
    font-size: $fs-xs;
  }
}
.field-busy {
  label {
    top: -12px;
    left: 10px;
    color: $primary;
    background: linear-gradient(to bottom, #140720, #11041b);
    font-size: $fs-xs;
  }
}
